<form #registerForm="ngForm" (ngSubmit)="onRegisterClick()">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr/>
    <div class="form-group">
        <input 
            class="form-control" 
            type="text" 
            name="username" 
            [(ngModel)]="model.username"
            placeholder="Username"
        />
    </div>

    <div class="form-group">
        <input 
            class="form-control" 
            type="password" 
            name="password" 
            [(ngModel)]="model.password"
            placeholder="Password"
        />
    </div>

    <div class="form-group text-center">
        <button 
            class="btn btn-success mr-2" 
            type="submit" 
            (click)="onRegisterClick()">Register
        </button>
        <button 
            class="btn btn-default mr-2" 
            type="button" 
            (click)="onCancelClick()">Cancel
        </button>
    </div>
</form>
